.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: darkcyan;
}
.nav {
    list-style: lower-roman;
    text-align: center;
}
.nav li {
    display: inline;
    margin-right: 20px;
}