.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 22% 3% 25% 25% 3% 22%;
    border: 1px;
}

.grid-item {
    background-color:white;
    padding: 6px;
}

.grid-item12345 {
    background-color: #c8bbb3;
    padding: 6px;
}



.body {
    background-color: #ede7d7;
}

.logo {
    grid-column: 3 /span 2;
}

.navbar {
    grid-column: 2/ span 4;
    grid-row: 2; }
    
.wed {font-family: "vendetta", serif;
font-weight: 700;
font-style: normal;

}


.in {
    background-color: white;
    font-family: "vendetta", serif;
font-weight: 1000;
font-style: normal;
}


.navul {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ede7d7;

  
}

li {
    float: left;
    border-right:1px solid #dcd7c8;
}
  
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #4c4a47;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #ddcb9a;
}


.cara {
    grid-column: 2/ span 4;
    grid-row: 3;
}

.info {
    grid-column: 3/ span 2;
    grid-row: 4;
    padding: 5px;
    font-family: "vendetta", serif;
    font-weight: 500;
    font-style: normal;
   
}

.special {
    grid-column: 2/ span 4;
    grid-row: 5;
    background-color: #c8bbb3;;
    border: 5px;
    border-color: rgb(255, 255, 255);
}

.nov {
    font-family: "vendetta", serif;
font-weight: 700;
font-style: normal;

}
.w {
    font-family: "vendetta", serif;
    font-weight: 500;
    font-style: normal;
}




* {
    box-sizing: border-box;
  }
  
  .specialcolumn {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .specialrow::after {
    content: "";
    clear: both;
    display: table;
  }


.hours {
    grid-column: 3/ span 2;
    grid-row: 6;
 }

 .table {
    border: 1px solid black;
    
 }


 .addph {
    grid-column: 2/ span 4;
    grid-row: 7;
 }

 .disclamer {
    grid-column: 3/ span 2;
    grid-row: 8;
 }










 
 .cakes {
    grid-column: 2/ span 4;
    grid-row: 3;
 }

 .example {
    grid-column: 2/ span 4;
    grid-row: 4;
 }

.extra {
    grid-column: 3/ span 2;
    grid-row: 5;
}

.SignatureCakes {
    grid-column: 2/ span 4;
    grid-row: 6;
    border: 0px;
}

.imgborder {
    border: 5px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caketext {
    width: 320px;
    height: 225px;
    padding: 10px;
    margin: 0;
}
.first {
    border-top: 5px solid #93823D;
    border-bottom: 5px solid #93823D;
    border-right: 5px solid #93823D;
    background-color: #F5EEE9;
}

.one {
    grid-column: 2/ span 4;
    grid-row: 7;
}

.second {
    border-top: 5px solid #9b7226;
    border-bottom: 5px solid #9b7226;
    border-left: 5px solid #9b7226;
    background-color: #eee6bf;
}

.two {
    grid-column: 2/ span 4;
    grid-row: 8;
}

.third {
    border-top: 5px solid #73273B;
    border-bottom: 5px solid #73273B;
    border-right: 5px solid #73273B;
    background-color: #f5f4d8;
}
.three {
    grid-column: 2/ span 4;
    grid-row: 9;
}

.fourth {
    border-top: 5px solid #8C0303;
    border-bottom: 5px solid #8C0303;
    border-left: 5px solid #8C0303;
    background-color: #ac9484;
}

.four {
    grid-column: 2/ span 4;
    grid-row: 10;
}

.fifth {
    border-top: 5px solid #733E32;
    border-bottom: 5px solid #733E32;
    border-right: 5px solid #733E32;
    background-color: #f5e2d1;
}
.five {
    grid-column: 2/ span 4;
    grid-row: 11;
}

.sixth {
    border-top: 5px solid #56471B;
    border-bottom: 5px solid #56471B;
    border-left: 5px solid #56471B;
    background-color: #f2e3d0;
}

.six {
    grid-column: 2/ span 4;
    grid-row: 12;
}

.seventh {
    border-top: 5px solid #6F2B38;
    border-bottom: 5px solid #6F2B38;
    border-right: 5px solid #6F2B38;
    background-color: #edc8b9;
}
.seven {
    grid-column: 2/ span 4;
    grid-row: 13;
}

.eigth {
    border-top: 5px solid #652E2B;
    border-bottom: 5px solid #652E2B;
    border-left: 5px solid #652E2B;
    background-color: #ad866e;
}

.eight {
    grid-column: 2/ span 4;
    grid-row: 14;
}

.nineth {
    border-top: 5px solid #5A352B;
    border-bottom: 5px solid #5A352B;
    border-right: 5px solid #5A352B;
    background-color: #ad6760;
}
.nine {
    grid-column: 2/ span 4;
    grid-row: 15;
}

.tenth {
    border-top: 5px solid #c19e35;
    border-bottom: 5px solid #c19e35;
    border-left: 5px solid #c19e35;
    background-color: #906f66
}

.ten {
    grid-column: 2/ span 4;
    grid-row: 16;
}
.eleventh {
    border-top: 5px solid #5A352B;
    border-bottom: 5px solid #5A352B;
    border-right: 5px solid #5A352B;
    background-color: #8C5C4A;
}
.eleven {
    grid-column: 2/ span 4;
    grid-row: 17;
}
.twelveth {
    border-top: 5px solid #8C0303;
    border-bottom: 5px solid #8C0303;
    border-left: 5px solid #8C0303;
    background-color: #d8cfb5;
}

.twelve {
    grid-column: 2/ span 4;
    grid-row: 18;
}
.thirteenth {
    border-top: 5px solid #5d762b;
    border-bottom: 5px solid #5d762b;
    border-right: 5px solid #5d762b;
    background-color: #f5bb92;
}
.thirteen {
    grid-column: 2/ span 4;
    grid-row: 19;
}

.fourteenth {
    border-top: 5px solid #A88148;
    border-bottom: 5px solid #A88148;
    border-left: 5px solid #A88148;
    background-color: #EFE9CF;
}

.fourteen {
    grid-column: 2/ span 4;
    grid-row: 20; }

.fifthteenth {
        border-top: 5px solid #663414;
        border-bottom: 5px solid #663414;
        border-right: 5px solid #663414;
        background-color: #D8C7A4;}
.fifthteen {
        grid-column: 2/ span 4;
        grid-row: 21;}

.sixteenth {
        border-top: 5px solid #8C0303;
        border-bottom: 5px solid #8C0303;
        border-left: 5px solid #8C0303;
        background-color: #eee6bf;
}
        
.sixteen {
        grid-column: 2/ span 4;
        grid-row: 22; }

.seventeenth {
            border-top: 5px solid #8C0303;
            border-bottom: 5px solid #8C0303;
            border-right: 5px solid #8C0303;
            background-color: #D9CCAD;}
.seventeen {
            grid-column: 2/ span 4;
            grid-row: 23;}







.wedd {
    grid-column: 2/ span 4;
    grid-row: 4;
}

.padd {
    padding: 5px;
}
.car2 {
    grid-column: 3/ span 2;
    grid-row: 5;
}





.above{
    grid-column: 2/ span 4;
    grid-row: 4;
    padding: 10;
}

.yay {
    border-radius: 15px;
    padding: 10px;
}


.menu {
    width: 610px;
    height: 850px;
    padding: 10px;
    border: 5px solid #eabc58;
    margin: 0;
}

.menu2 {
    width: 610px;
    height: 825px;
    padding: 10px;
    border: 5px solid #eabc58;
    margin: 0;
}

.menu3 {
    width: 610px;
    height: 1450px;
    padding: 10px;
    border: 5px solid #eabc58;
    margin: 0;
}

.place {
    grid-column: 3/ span 2;
    grid-row: 5;
    padding: 20px;
}

.t {
    padding: 10px;
}

.car3 {
    grid-column: 3/ span 2;
    grid-row: 6;
}

