
#FirstAidKit {
    color: firebrick;
}
#Rulers {
    color: darkred;
}
#Trays {
color: black;
}
h2 {
    font-family:  Helvetica, sans-serif;
}
.copy {
   text-align: right;
   color: azure; 
}
#one {
font-size: 30px;
}
#two {
    color: darkcyan;
}
}
.viD {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: darkturquoise;
}