Capucine Basic Light{
font-family: "capucine-web", sans-serif;
font-weight: 300;
font-style: normal;}
Capucine Basic Light Italic{
font-family: "capucine-web", sans-serif;
font-weight: 300;
font-style: italic;}
Capucine Basic Regular{
font-family: "capucine-web", sans-serif;
font-weight: 400;
font-style: normal;}
Capucine Basic Italic{
font-family: "capucine-web", sans-serif;
font-weight: 400;
font-style: italic;}
Capucine Basic Bold h1 {
font-family: "capucine-web", sans-serif;
font-weight: 700;
font-style: normal;}
Capucine Basic Bold Italic{
font-family: "capucine-web", sans-serif;
font-weight: 700;
font-style: italic;}
Capucine Basic Black{
font-family: "capucine-web", sans-serif;
font-weight: 900;
font-style: normal;}
Capucine Basic Black Italic{
font-family: "capucine-web", sans-serif;
font-weight: 900;
font-style: italic;}